.term-container { padding: 12px 12px 71px 12px; }
.term ul { list-style: none; font-family: 'Courier New', Courier, monospace; }
.console-input { position: fixed; bottom: 1px; width: 96%; background-color: #303030; opacity: 0.8; }