<div class="centerContent bodycontainer">
    <mat-card class="mainmenu">
        <mat-card-content>
            <button mat-menu-item (click)="btnPowerDialog()">
                <mat-icon>power_settings_new</mat-icon>
                Power
            </button>
            <br/>
            <button mat-menu-item routerLink="/visualrack">
                <mat-icon>dns</mat-icon>
                Visual Rack
            </button>
            <br/>
            <button mat-menu-item routerLink="/rackinfo">
                <mat-icon>info</mat-icon>
                Rack Info
            </button>
            <br/>
            <button mat-menu-item routerLink="/console">
                <mat-icon>terminal</mat-icon>
                L2 Console
            </button>
            
        </mat-card-content>
      </mat-card>      
</div>