.dialog { min-width: 300px; }
.lcd { font-size: 13px; color: black; background-color: yellowgreen; padding: 9px;  margin-bottom: 16px;
    line-height: 12px; overflow: hidden; white-space: nowrap; border-radius: 4px;
}
.ledbuttons { margin-bottom: 16px; }
.btnON { background-color: #619315; }